# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Debug
/*.opensdf
/*.sdf
/*.suo
/generate
/ipch
/Release
/.vs
/*.opendb
/*.db
/out.gv
/*.gv
/*.cd
/out.ll
/15
/x64
/annexe/core/Debug
/*.bak
/*.filters
/test
/*.s
/*.li
/clib/Debug
/compiler/intermediate/silang.yy.c
/core/Si/String.ll
/clib/x64/Debug
/compiler/x64/Debug
/compiler/*.log
/compiler/Debug
/src/lib/si/x64
*.user
/lib
x64
/clib/*.ll
/clibTest/t.c
/clibTest/t.ll
